<div class="parent">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
    <div class="org-title">{{ displayText }}</div>
    <div
      fxLayout="column"
      fxLayoutAlign="space-between start"
      class="login-card">
      <div class="title mb-4">Log In</div>
      <form
        name="loginForm"
        [formGroup]="loginForm"
        novalidate
        fxLayout="column"
      >
        <div class="input-field-title">User Name</div>
        <div>
          <input
            [ngStyle]="{ width: '50vw' }"
            class="input-field"
            name="userName"
            placeholder="Enter User Name"
            matInput
            formControlName="userName"
          />
        </div>
        <div class="input-field-title">Password</div>
        <div>
          <input
            [ngStyle]="{ width: '50vw' }"
            class="input-field"
            name="password"
            type="password"
            placeholder="Enter Password"
            matInput
            formControlName="password"
          />
        </div>
        <a [routerLink]="['/auth', 'sign-up']" class="open-account-text">
          Don't have an account? Create one!
        </a>
        <button click="login()" [ngStyle]="{ width: '50vw' }" [disabled]="loginForm.invalid" class="mt-4" mat-raised-button color="primary">Log In</button>
      </form>
    </div>
  </div>
</div>
